
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Website Colors

$primary-color: #FE9769;
$secondary-color: #FEDBB9;
$ternary-color: #FFA954;

// Fonts Colors
$clair: #FFFFFF;
$fonce: #FF7660;


// Gradient
$gradient: linear-gradient(19deg, #FF7660, #FDD093);
