
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #FBA82C;
     box-shadow: 0 1px 0 0 #000;
   }
.input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #FBA82C;
  box-shadow: 0 1px 0 0 #000;
}
