/*##################################################
##############    IMPORTS       #################
##################################################*/
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*##################################################
##############      GENERAL       ##################
##################################################*/
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
  background-image: linear-gradient(#FF7660, #FDD093), ;
  background-repeat:no-repeat;
  height: 100vh;
}

.auth .card-header {
  background-color: white;
  border-bottom: 0px;
  font-size: 2em;
  color: $primary-color;
}

.auth .card-body {
  padding-bottom: 10%;
}

.auth button{
  display: block;
  margin: auto;
  width: max-content;
}

<<<<<<< HEAD
  font-size: 1em;

=======
.auth .input-field{
  margin: auto;
  margin-top: 4%;
>>>>>>> 1755afe5494b0ed2a3c77b22f9d02d3a2e951c77
}

.logo{
  text-align: center;
  width: 100%;
}

.logo img{
}

input.invalid[type=email]:not(.browser-default), input.invalid[type=email]:not(.browser-default):focus {
 border-bottom: 1px solid $primary-color;
 box-shadow: 0 1px 0 0 $primary-color;
}

input[type=password]:not(.browser-default):focus:not([readonly]) {
 border-bottom: 1px solid $primary-color;
 box-shadow: 0 1px 0 0 $primary-color;
}
.popup {
  display: none;
  position: fixed;
  background: white;
  bottom:0;
  width: 100vw;
  z-index: 999;
}
 
.popup.active {
  display: block;
}

   input.invalid[type=email]:not(.browser-default), input.invalid[type=email]:not(.browser-default):focus {
     border-bottom: 1px solid $primary-color;
     box-shadow: 0 1px 0 0 $primary-color;
   }

   input[type=password]:not(.browser-default):focus:not([readonly]) {
     border-bottom: 1px solid $primary-color;
     box-shadow: 0 1px 0 0 $primary-color;
   }

input[type=email]:not(.browser-default):focus:not([readonly]) {
 border-bottom: 1px solid $primary-color;
 box-shadow: 0 1px 0 0 $primary-color;
}

input[type=email]:not(.browser-default):focus:not([readonly])+label {
 color: $primary-color;
}

input[type=password]:not(.browser-default):focus:not([readonly])+label {
 color: $primary-color;
}

   input[type=text]:not(.browser-default):focus:not([readonly]) {
     border-bottom: 1px solid $primary-color;
     box-shadow: 0 1px 0 0 $primary-color;
}

.material-icons
{
  color: #9D9D9D;
}

.input-field .prefix.active
{
  color: $primary-color;
}

.btn-primary {
  background-color:$primary-color;
  border-color:$primary-color;
}
.btn-primary:hover {
  border-color:$primary-color;
}

.btn-link{
  color:$primary-color;
}

.btn-link:hover{
  color:#FFF;
  text-decoration: none;
}
.btn:hover{
  background-color:$primary-color;

}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #FBA82C;
     box-shadow: 0 1px 0 0 #000;
   }
.input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #FBA82C;
  box-shadow: 0 1px 0 0 #000;

}
::placeholder{color: $clair;}
//////////////////////FONTS/////////////////////////
//------- taille
h1{
  font-size: 3.5em;
  font-weight: bold;
}
h2{
  font-size: 3em;
  font-weight: bold;
}
h3{
  font-size: 2.5em;
  font-weight: bold;
}
h4{
  font-size: 2em;
  font-weight: bold;
}
h5{
  font-size: 1.5em;
  font-weight: bold;
}
//------- Couleurs
.clair{
  color: $clair;
}
.fonce{
  color: $fonce;
}
//------- Graisse
.font-light{
  font-weight:200;
}
.font-strong{
  font-weight:800;
}

/*##################################################
##############    DRAW BLADE       #################
##################################################*/
#draw-blade{
  #top-col{
    position: absolute;
    top:5%;
    right:3%;
  }
  .align-item{display: inline; margin-right: 10px;}
  #icon-bank{
    display: inline;
    background-color: #F3F3F3;
    height: 5%;
  }
  #icon-bank-element{
    font-size: 4em;
    vertical-align: bottom;
  }
  .slider{height: auto !important;}
  #drawing-mode-options{position: absolute; padding-top: 30px; }

  #bottom-col{
    position: absolute;
    left:3%;
    top:5%;
  }
}
/*##################################################
##############    USER BOARD       #################
##################################################*/
#userBoard{
    width: 100vw;
    height: 100vh;
    font-size: 1.4em;

  #userBoard-left-col{
    float: left;
    width: 35%;
    height: 100%;
    background-color: #ffffff;
    padding: 2% 2% 0% 2%;
  }
  #userBoard-left-col-content{
    padding-top: 15%;
    height: 85%;
  }
  input{
    background-color: $secondary-color;
    border-radius: 50px;
    text-align: center;
    margin-top: 5%;
  }
  ul{
    background-color: $primary-color;
    border-radius: 5px 5px 0px 0px;
    margin-top: 5%;
    padding-top: 5%;

    height: 71%;
    overflow: scroll;
  }
  li{
    margin: 0% 10% 4% 4% ;
    background-color: $clair;
    border-radius: 15px;
    padding: 2%;

    color: $primary-color;
  }
  #add-new{
    padding: 4%;
    border: 2px solid $clair;
    background-color: $primary-color;
    color: $clair;
    font-weight: bold;
  }
  #add-new i{font-size: 3em;color: $clair;vertical-align: middle;}
  button{background-color: $primary-color;margin-top: -7%;}

  #userBoard-right-col{
    float: right;
    width: 65%;
    height: 100%;
    background-color: #FFE53B;
    background-image: $gradient;
  }
  .top-content{
    width: 100%;
    height: auto;
    padding: 0% 10%;
  }
  .top-content div{
    display: inline;
  }



}
